.post{ 
    /* display: flex; */
    width: auto;
    height: 50px;
    max-width: 300px;
    flex-direction: column;
    text-align: center;
  
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
  }

